/* Layout Stuff */
html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
    background-position: center;
    background-repeat: repeat-y;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    min-width: 980px;
    background-repeat: repeat-y, repeat;
    background-position: center;
    background-attachment: fixed;
}
.wrap {
    width: 980px;
    height: 0px;
    position: relative;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
}
#header {
    width: 100%;
    height: 80px;
    transition: all .4s ease;
    z-index: 999;
}
#header img {
    margin-top: 3px;
    transition: all .4s ease;
}
#search {
    float: right;
    height: 80px;
    line-height: 80px;
    margin-right: 60px;
    transition: all .4s ease;
}
#nav-top {
    width: 100%;
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    transition: all .4s ease;
    z-index: 998;
}
#nav-top a {
    display: inline-block;
    text-decoration: none;
}
#cplinks {
    position: relative;
    width: 970px;
    height: 28px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 28px;
    z-index: 997;
}
#cplinks a {
    display: inline-block;
    text-decoration: none;
}
#headerad {
    position: relative;
    width: 968px;
    height: 90px;
    padding: 6px;
    z-index: 997;
}
#subscribe {
    position: relative;
    width: 970px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    z-index: 997;
}
#social {
    float: left;
    width: 232px;
    height: 90px;
}
#social > div:first-child {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 30px;
}
#social > div {
    width: 58px;
    height: 54px;
    float: left;
}
#body {
    position: relative;
    width: 980px;
    padding-top: 0px;
    padding-bottom: 179px;
    margin-left: auto;
    margin-right: auto;
}
#nav {
    position: relative;
    display: inline-block;
    width: 160px;
    vertical-align: top;
    line-height: 16px;
}
#nav a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 4px;
}
#other a {
    font-size: 11px;
    padding-left: 9px;
}
#toggle_other {
    float: right;
    margin-right: 4px;
    margin-top: 2px;
}
#sidebar-ad {
    width: 160px;
    height: 623px;
    margin-top: 10px;
    overflow: hidden;
}
#shadow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 10px;
    margin-left: 160px;
    background-repeat: repeat-y;
    z-index: 996;
}
#content {
    position: relative;
    display: inline-block;
    width: 820px;
    vertical-align: top;
}
#userbox {
    width: 274px;
    height: 74px;
    float: right;
    padding: 3px;
    font-size: 12px;
    line-height: 15px;
    transition: all .4s ease;
}
#userbox a {
    font-weight: bold;
}
#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 179px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 999;
}
#footer ul {
    float: left;
    list-style: none outside none;
    margin: 0 3px 0 13px;
    padding: 0;
    width: 175px;
}
#stream_notice {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 800;
}
#pending-list-toggle {
    cursor: pointer;
}
span#pending-list-toggle {
    border-bottom: 1px #000000 dashed;
}
div#pending-list {
    width: 500px;
    max-height: 200px;
    overflow: auto;
    border: 1px #000000 solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: left;
    display: none;
}
tr#pending-list {
    display: none;
}
#pending-list ul {
    margin: 0px -10px;
}
textarea[id$="-ad-code"] {
    width: 400px;
    height: 120px;
    font-family: "Courier New", monospace;
    font-size: 14px;
}
.button-title {
    display: none;
    position: absolute;
    padding: 5px;
    z-index: 999;
}
h1 {
    text-align: center;
    margin: 0px;
}
h2 {
    text-align: center;
    margin: 0px;
}
.title {
    text-align: center;
    font-weight: bold;
}
table {
    border-spacing: 5px;
    line-height: 20px;
}
th, td {
    text-align: left;
    padding: 0px;
}
.nav-header {
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}
.ad-header {
    cursor: auto;
}
.header-arrow {
    float: right;
    margin-right: 4px;
}
.search_text {
    width: 220px;
    margin: 0px;
    padding: 5px 5px;
    font-size: 14px;
    border: 0px;
    outline: none;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.search_button {
    margin: 0px;
    padding: 5px 15px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 0px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.search_left {
    display: inline-block;
    width: 25px;
    margin-left: 25px;
}
.display {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
}
.display th, .display td {
    text-align: left;
    padding: 3px;
}
.display td table {
    border-spacing: 0px;
}
.display td table th, .display td table td {
    border: 0px;
    padding: 0px;
}
.display a {
    text-decoration: none !important;
}
.noborder a {
    border: 0px !important;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
#comments {
    margin-bottom: 15px;
}
.comment {
    width: 100%;
    margin-bottom: 1px;
    border-spacing: 0px;
    table-layout: fixed;
}
.commentHeader {
    vertical-align: top;
    padding: 5px;
}
.commentContent {
    text-align: justify;
    vertical-align: top;
    word-wrap: break-word;
    padding: 5px;
}
.commentError {
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
.tag {
    font-size: 12px;
    display: inline-block;
    padding: 4px;
    border-radius: 8px;
}
.nsfw-warning {
    width: 750px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
}
.nsfw {
    display: none;
}
.spoiler-label {
    font-size: 12px;
    line-height: 14px;
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 5px;
    text-shadow: none;
}
.spoiler-text {
    text-shadow: none;
}
input, select, option {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.cperror {
    display: block;
    width: 810px;
    padding: 5px;
    font-weight: bold;
}
img {
    border: 0px !important;
}

/* Updates */
.updatericon {
    float: left;
    text-align: center;
    padding-right: 10px;
}
.updatetitle {
    position: relative;
    width: 805px;
    height: 30px;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
}
.updatetitle span {
    float: right;
    clear: right;
    margin-right: 0px;
}
.updatemeta {
    height: 20px;
    line-height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 12px;
}
.updatetext {
    padding: 10px;
    text-align: justify;
}
.updateconsolename {
    line-height: 25px;
    padding-left: 10px !important;
}
.updatesheets {
    text-align: left;
    overflow: hidden;
}
.updatesheeticons {
    padding: 10px 0px;
}
.updatesheeticons .iconcontainer {
    margin-left: 30px;
    margin-bottom: 15px;
}
div.updateconsolename {
    width: 100%;
    font-weight: bold;
    margin: 0px;
}

/* Category Page */
#letters {
    padding: 5px 2px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
}
#letters a {
    display: inline-block;
}
#letters a:link, #letters a:visited {
    text-decoration: none;
}
#letters a:hover, #letters a:active {
    text-decoration: underline;
}
#letters .active {
    padding: 5px;
    margin: -5px 0px;
}
.section {
    position: relative;
    width: 810px;
    height: 30px;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
.sect-name {
    display: inline-block;
}
.sect-order {
    width: 45px;
    float: right;
    text-align: right;
    margin-right: 15px;
    height: 30px;
}
.sect-count {
    float: right;
    margin-right: 15px;
}
.sect-collapse {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.zip-header {
    width: 745px;
    height: 30px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
.zip-container {
    width: 735px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 14px;
    font-family: "Courier New", monospace;
    word-wrap: break-word;
    display: none;
}
.zip-container ul {
    list-style-type: decimal;
    margin-left: 20px;
}
.zip-container li {
    word-wrap: break-word;
}
.zip-collapse {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
#section-form-buttons {
    display: none;
    margin-bottom: 15px;
    text-align: center;
}
.edit-section {
    cursor: pointer;
}
.zip-download {
    width: 720px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
    clear: both;
}
.zip-download img {
    position: absolute;
    top: 28px;
    left: 29px;
}

/* CP Styles */
.success {
    position: relative;
    display: block;
    min-height: 36px;
    padding: 5px;
    font-weight: bold;
    z-index: 997;
}
.success img {
    vertical-align: top;
    float: left;
    margin-right: 5px;
}
.revised {
    text-shadow: none !important;
}
.approve {
	display: inline-block;
	margin-right: 5px;
    width: 392px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.reject {
	display: inline-block;
    width: 393px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

/* Small Header Classes */
#header.small {
    height: 40px;
}
#header.small img {
    margin-top: 1px;
}
#userbox.small {
    height: 40px;
    line-height: 13px;
    padding: 0px 0px 0px 3px;
}
#userbox.small div {
    margin: 0px;
}
#userbox.small img {
    margin: 3px 0px 0px 0px !important;
}
#search.small {
    height: 40px;
    line-height: 40px;
}
#nav-top.small {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    top: 60px;
}
#nav-top.small img {
    width: auto;
    height: 15px;
}

/* Extras for Larger Screens */
@media screen and (min-width: 767px) and (min-device-width: 767px) and (max-height: 779px) {
    #header {
        margin-top: 20px;
    }
}
@media screen and (min-width: 767px) and (min-device-width: 767px) and (min-height: 780px) {
    #header {
        position: fixed;
        top: 20px;
        left: 0px;
    }
    #nav-top {
        position: fixed;
        top: 100px;
        left: 0px;
    }
    #body {
        padding-top: 129px;
    }
}
@media screen and (min-width: 1100px) and (min-device-width: 1100px) {
    .updatetitle {
        width: 820px !important;
    }
    .updatetitle:after {
        content: '';
        position: absolute;
        bottom: -15px;
        right: 0px;
        border-style: solid;
        border-width: 0px 0px 15px 15px;
        border-color: transparent;
    }
    .updatetitle span {
        margin-right: 15px !important;
    }
    .section {
        width: 825px !important;
    }
    .section:after {
        content: '';
        position: absolute;
        bottom: -15px;
        right: 0px;
        border-style: solid;
        border-width: 0px 0px 15px 15px;
        border-color: transparent;
    }
}